:root {
  --primary-color: hsl(145, 63%, 49%);
  --secondary-color: hsl(145, 63%, 42%);
  --font-color: hsl(0, 0%, 21%);
  --font-color-secondary: hsl(0, 0%, 48%);
  --font-color-alternative: hsl(0, 0%, 96%);
  --font-color-invalid: hsl(6, 78%, 37%);
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-secondary: hsl(0, 0%, 90%);
  --link-bg-color-hover: hsl(0, 0%, 98%);
  --input-bg-color: hsl(0, 0%, 96%);
  --input-bg-color-hover: hsl(0, 0%, 94%);
  --input-bg-color-focus: hsl(0, 0%, 92%);
  --input-bg-color-invalid: hsl(6, 78%, 92%);
  --input-bg-color-invalid-hover: hsl(6, 78%, 90%);
  --input-bg-color-invalid-focus: hsl(6, 78%, 88%);
  --heading-color: hsl(0, 0%, 4%);
  --sub-heading-color: hsl(0, 0%, 29%);
  --border-color: hsl(0, 0%, 75%);
  --steps-color: hsl(145, 63%, 49%);
  --steps-bg-color: hsl(0, 0%, 65%);
  --body-color: hsl(0, 0%, 90%);
}

[data-theme='dark'] {
  --primary-color: hsl(242, 79%, 77%);
  --secondary-color: hsl(242, 79%, 82%);
  --font-color: hsl(0, 0%, 96%);
  --font-color-secondary: hsl(0, 0%, 69%);
  --font-color-alternative: hsl(0, 0%, 21%);
  --bg-color: hsl(240, 25%, 22%);
  --bg-color-secondary: hsl(240, 25%, 12%);
  --link-bg-color-hover: hsl(240, 25%, 14%);
  --input-bg-color: hsl(240, 25%, 16%);
  --input-bg-color-hover: hsl(240, 25%, 18%);
  --input-bg-color-focus: hsl(240, 25%, 20%);
  --heading-color: hsl(0, 0%, 100%);
  --sub-heading-color: hsl(0, 0%, 88%);
  --border-color: hsl(0, 0%, 25%);
  --steps-bg-color: hsl(0, 0%, 35%);
  --body-color: hsl(240, 25%, 12%);
}
